body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background-color: greenyellow;
    color: black;
}
li {
    color: rgb(255, 0, 0);
}
a {
    color: rgb(113, 121, 72);
}